{% extends 'base.html' %}
{% block content %}
<!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">About Us...</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Welcome to Pillow Ecommerce...</p>
                </div>
            </div>
        </header>

        <div class="container">
            <div class="row">
                <center>
                    <div class="col-8">

<p align="justify">
<br/><br/>
    <b>About Pillow Ecommerce</b><br/><br/>
We are an online store specializing in throw pillows, committed to bringing comfort and style to every home. With our own
manufacturing factory, we not only offer high-quality B2C online retail services to consumers but also welcome B2B
collaborations for ODM and OEM needs.<br/><br/>
Our throw pillows are not just decorative pieces; they are the perfect choice for enhancing your quality of life. By
carefully selecting eco-friendly materials and offering a wide range of design styles, we provide customers with options
that range from minimalist modern to creative and trendy, catering to different home decor preferences.<br/><br/>
As a brand with its own manufacturing facility, we maintain strict quality control and respond quickly to market demands,
ensuring that we offer high-quality products at competitive prices. Our factory also enables us to provide professional
and flexible ODM and OEM services for business clients with custom production needs.<br/><br/>
Our core values include delivering high-quality products, exceptional customer experiences, and fast logistics, ensuring
that every customer enjoys a pleasant shopping journey. Whether you're adding warmth to your home or choosing a gift
for loved ones, we have the perfect options for you.<br/><br/>
Welcome to our throw pillow store, where you can elevate your home life with quality and style! We also warmly invite
business clients to explore B2B collaboration opportunities with us and create a successful future together.
</p>
<br/><br/>
                    </div>
                </center>
            </div>
        </div>
{% endblock %}